{% extends "layout.html" %} 
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata ml-1">
                <h1>About</h1>
            </div>
            <div class="mt-2 ml-2">
                <p>Hello everyone! This website is intended as a place to share information about anything with others, 
                    specifically amongst my friends.
                </p>
            </div>
        </div>
    </article>
{% endblock content%}